@import "~assets/css/styles.css";
/*
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(assets/fonts/poppins/Poppins-Regular.ttf) format("truetype");
}
*{
  font-family: Poppins;
  font-size: 12px;
}*/
